<div class="row-fluid">
	<div class="span6 offset3" id="dilemmashow">

			<h2 class="centertext" id="headerdilemma">
			  <%= @dilemma.name %>
			</h2>

	

	<% @dilemma.questions.each do |question| %>
	
		<div class="span4 offset1" id="questions">

	<h3><b>    <%= question.description %> </b></h3>

		<h3> <%= pluralize question.reputation_for(:votes).to_i, "stemmer" %> </h3>

			  	 	<% if current_user && !current_user.voted_for?(@dilemma) %>
				  	 	<div id="votebtn"> <%= link_to "Stem på dette", vote_dilemma_question_path(@dilemma, question, type: "up"), method: "post", class: "btn btn-large btn-success" %>   </div>
				 	<% end %>
		
		</div>
	<% end %>


 </div>
</div>

	<% if current_user == @dilemma.user %>
			<p>
			  <b>Total votes</b>
			  <%= @dilemma.reputation_for(:votes).to_i %>
			</p>
		<% end %>